# Node modules
backend/node_modules/
frontend/node_modules/

# Arquivos de build do TypeScript
dist/
build/
*.js
*.js.map

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Outros arquivos comuns
.env
.DS_Store